<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Entities" 
         connectionString="metadata=
             res://*/DBModel.csdl|
             res://*/DBModel.ssdl|
             res://*/DBModel.msl;
             provider=System.Data.SqlClient;
             provider connection string=
                 'data source=NILSONPC\SQLEXPRESS01;
                 initial catalog=&quot;Учет спроса и предложения&quot;;
                 integrated security=True;
                 MultipleActiveResultSets=True;
                 App=EntityFramework'" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>